.container{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.dropbtn{
  border: solid 2px rgb(94, 55, 4);
  border-radius: 20px;
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
  cursor: pointer;
}

.dropbtn:hover{
  background: rgb(252, 213, 156);
}

.indropdown{
  display: none;
  border: 2px solid black;
  border-radius: 20px;
  width: 200px;
  padding-left: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropbtn:hover + .indropdown{
  display: block;
}

.indropdown:hover{
  display: block;
}

li{
  cursor: pointer;
  border: black  2px;
  margin: 10px;
}

li:hover{
  background-color: rgb(184, 247, 184);
}


