*{
  margin: 0;
}

.plx1 {
  background-image: url('https://images3.alphacoders.com/132/1328396.png');
}
.plx2 {
  background-image: url("https://images3.alphacoders.com/114/1144293.jpg");
}
.plx{
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

.text-white{
  color: white;
}

section{
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size:80px;
  font-family:'Courier New', Courier, monospace;
}