body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.card{
  border: solid rgb(167, 167, 167) 2px;
  border-radius: 20px;
  width: 300px;
  height: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Profile{
  width: 230px;
  height: 230px;
  border-radius: 20px;
  margin-top: 25px;
}

.name{
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dis{
  color: gray;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
}

.dis2{
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 10px;
}

.icon{
  width: 30px;
  height: 30px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.btn{
  margin-top: 10px;
 background-color: rgb(250, 199, 61);
 width: 230px;
 height: 40px;
 border-radius: 15px;
 border: solid 2px rgb(122, 103, 15);
 display: flex;
 justify-content: center;
 align-items: center;
 font-weight: 600;
 font-size: 24px;
 cursor: pointer;
}

.btn:hover{
  background-color: rgb(190, 152, 46);
}